* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.dashboard-container > * {
    margin-bottom: 15px;
}

.login-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.login-container .header {
    
}

.login-container .content {
    
}