* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.border-test {
    border: 2.5px solid red;
}

div > .Image {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}

.input-border {
    margin-bottom: 5px;
    border: 2.5px solid black;
}

.flexbox-row-start {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.flexbox-row-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.flexbox-row-end {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
}

.flexbox-column-start {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

.flexbox-column-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.flexbox-column-end {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
}

.dashboard-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.dashboard-container:first-child {
    margin-top: 25px;
}

.dashboard-container > * {
    margin-bottom: 15px;
}

.submit-button {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
}

.login-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    border: 2.5px solid rgb(121,121,121);
    border-radius: 15px;

    box-shadow: 0px 0px 4.5px rgb(121,121,121);
}

.login-container .header {
    padding: 15px 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.login-container .content {
    width: 100%; 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
.login-container .content > * {
    padding: 5px 10px;
}

.dashboardLoggedIn-container {
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.fuelQuoteHistory-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.fuelQuoteHistory-container > * {
    margin-bottom: 15px;
}

.userAccount-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.fuelquote-instance {
    width: 85%;
    
    border: 2.5px solid rgb(121,121,121);
    border-radius: 15px;

    box-shadow: 0px 0px 4.5px rgb(121,121,121); 
}

.fuelquote-instance .content {
    padding: 10px 15px;
}

.fuelquote-instance .content > * {
    margin-bottom: 5px;
}