* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 25px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    padding-right: 15px;
    border: 1px solid black;
    background-color: rgb(228, 230, 238)
}
.navbar > * {
    margin-left: 15px;
}

.return-button {
    padding: 5px 10px;
    border: 2.5px solid black;
}

.Custom_Form {
    background-color: rgba(178, 189, 206, 0.397);
}

.Input_form{ 
    max-width: 650px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(177, 206, 174);
    padding: 15px;
}
    
input[type = text], select {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    
input[type = Number], select {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    
input[type = date], select {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    
input[type = password], select {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    
.submit-button {
    padding: 12px 20px;
    margin: 8px 10px;
    background-color: rgb(161,161,161);
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
} 
    
.submit-button:hover {
        background-color: rgb(137, 158, 101);
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.border-test {
    border: 2.5px solid red;
}

div > .Image {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}

.input-border {
    margin-bottom: 5px;
    border: 2.5px solid black;
}

.flexbox-row-start {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.flexbox-row-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.flexbox-row-end {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
}

.flexbox-column-start {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

.flexbox-column-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.flexbox-column-end {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
}

.dashboard-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.dashboard-container:first-child {
    margin-top: 25px;
}

.dashboard-container > * {
    margin-bottom: 15px;
}

.login-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    border: 2.5px solid rgb(121,121,121);
    border-radius: 15px;

    box-shadow: 0px 0px 4.5px rgb(121,121,121);
}

.login-container .header {
    padding: 15px 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.login-container .content {
    width: 100%; 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
.login-container .content > * {
    padding: 5px 10px;
}

.dashboardLoggedIn-container {
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.dashboardLoggedIn-container > * {
    margin: 15px 10px;
}

.account-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    border: 2.5px solid rgb(121,121,121);
    border-radius: 15px;

    box-shadow: 0px 0px 4.5px rgb(121,121,121);
}

.account-container .header {
    padding: 15px 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.account-container .content {
    width: 100%; 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
.account-container .content > * {
    padding: 5px 10px;
}

.fuel-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    border: 2.5px solid rgb(121,121,121);
    border-radius: 15px;

    box-shadow: 0px 0px 4.5px rgb(121,121,121);
}

.fuel-container .header {
    padding: 15px 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.fuel-container .content {
    width: 100%; 
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}
.fuel-container .content > * {
    padding: 5px 10px;
}

.fuelQuoteHistory-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.fuelQuoteHistory-container > * {
    margin-bottom: 15px;
}

.userAccount-container {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.fuelquote-instance {
    width: 85%;
    
    border: 2.5px solid rgb(121,121,121);
    border-radius: 15px;

    box-shadow: 0px 0px 4.5px rgb(121,121,121); 
}

.fuelquote-instance .content {
    padding: 10px 15px;
}

.fuelquote-instance .content > * {
    margin-bottom: 5px;
}

.useraccount-instance {
    width: 85%;
  
    border: 2.5px solid rgb(121, 121, 121);
    border-radius: 15px;
    background-color: rgb(177, 206, 174);
    box-shadow: 2px 2px 4.5px rgb(121, 121, 121);
  }
  
  .useraccount-instance .content {
    padding: 10px 15px;
  }
  
  .useraccount-instance .content > * {
    margin-bottom: 5px;
  }
